body {
  background-color: white;
  font-family: arial;
}

h2 {
  padding: 25px 0px 5px;
  margin: auto;
}

.logo {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin: auto;
}

.logo_2 {
  float: left;
  width: 60px;
  height: 56px;
  vertical-align: middle;
}

.logo_3 {
  float: left;
  width: 60px;
  height: 80px;
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}

.materials {
  width: 5000px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 350px;
}

.materials_photo {
  width: 5000px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 200px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}

.photo {
  width: 180px;
  height: 240px;
  align: left;
  padding: 10px 0px 0px 0px;
}

.header_main {
  font-weight: bold;
  font-size: 1.8rem;
}

.under_header {
  font-weight: normal;
  padding: 6px 0px 12px 0px;
  margin: auto;
}

.otstup_emae {
  padding: 25px 10px 25px 0px;
  margin: auto;
  text-decoration: underline;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  padding: 25px 10px 25px 0px;
}