[Unit]
Description=team_22 bot service
After=default.target

[Service]
User=jupyter-isergy
Group=jupyter-isergy
Type=simple
Restart=always
ExecStart=/opt/tljh/user/bin/python /home/jupyter-isergy/github/team22/users/sivanov/projects/team22_bot/main.py

[Install]
WantedBy=default.target
